.anju,
.deepika {
  color: blueviolet;
  border: 2px solid black;
  margin: 10px;
}
.assignment {
  color: red;
  text-align: center;
}
.anjuSingh {
  font-size: 4rem;
  border-bottom: 7px solid blue;
}
